/********** Desktop ************/
.main_about {
    background-color : white;
    padding: 0px 6%;
}
/*Banner*/
.banner{
    display:flex;
    position:relative;
    background: rgba(0,0,0,.9);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    height : 223px;
}
.banner_img{
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 25px;
    opacity: 0.6;
}
/*Section*/
.section_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 30px;
    margin-bottom : 30px;
    gap: 30px;
}
.collapse_about_container{
    width: 85%;
    font-size: 24px;
}



/********** Tablette **********/
@media (max-width: 992px){
.main_about {
    background-color : white;
    margin: 20px 20px;
    width: 85%;
    padding: 20px;
}
/*Banner*/
.banner{
    height:110px;
    border-radius: 10px;

}
.banner_img{
    height:110px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
}
.collapse_about_container{
    font-size: 20px;
    width: 100%;
}
}

/************* Mobile *******************/
@media (max-width: 768px){
.main_about {
    margin: 15px 15px;
    width: 83%;
    padding : 0px 10px;
}
/*Section*/
.section_about {
    gap: 20px;
}  
}