.Fiche-container {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  color: #ff6060;
  margin-right: 30px;
}
.section_Carrousel {
  color: white;
  font-weight: 500;
  width: 100%;
}
.titreEtProprietaire {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
 
 
  margin-top: 10px;
  width: 100%;

  @media screen and (max-width: 992px) {
    display: flex;
    flex-direction: column;
  }
}
.description-centent__description {
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}
.description-centent__equipement {
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.titreEtProprietaire__propietaire {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 0%;
  width: 50%;
  @media screen and (max-width: 992px) {
    font-size: 14px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
  }
}

.titreEtProprietaire__info__title {
  width: 50%;
  
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}
.rate-container {
  @media screen and (max-width: 992px) {
    display: flex;
    align-items: flex-start;
    width: 50%;
  }
}

.titreEtProprietaire__info__title .titre-logement {
  display: flex;
  flex-direction: column;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-bottom: 2px;
  @media screen and (max-width: 992px) {
    width: 100%;
    font-size: 18px;
  }
}

.endroit-logement {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
 
  @media screen and (max-width: 992px) {
    
    font-size: 14px;
  }
}

.titreEtProprietaire__info__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;

}

.description-centent {
  align-items: baseline;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.title-collapse {
  font-size: 18px;
}

.rate-container {
  @media screen and (max-width: 992px) {
    width: 50%;
  }
}

.description-centent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  
  @media screen and (max-width: 992px) {
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    align-items: baseline;
  }
}
.description-centent__description {
  width: 50%;
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}
.description-centent__equipement {
  width: 50%;
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.description-info__proprietaire__nom-prop .photo-proprietaire {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
  @media screen and (max-width: 992px) {
    display: flex;
    justify-content: flex-end;
  }
}

.description-info__proprietaire__nom-prop .nom-prop {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  text-align: right;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.description-info__proprietaire__rate {
  justify-content: flex-end;
  margin-top: 20px;
  @media screen and (max-width: 769px) {
    display: flex;
    flex-direction: row;
  }
}

.description-info__proprietaire__rate .etoile {
  width: 15px;
  height: 15px;
}

.description-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-info__titletags {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.description-info__titletags__title {
  display: flex;
  flex-direction: column;
}



.description-info__titletags__title .endroit-logement {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
}

.description-info__proprietaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description-info__proprietaire__nom-prop {
  display: flex;
  align-items: center;
}

.description-info__proprietaire__nom-prop .nom-proprietaire {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  text-align: right;
  width: 93px;
  @media screen and (max-width: 769px) { 
    width: 50px;
    font-size: 14px;
}
}
.description-info__proprietaire__nom-prop .photo-proprietaire {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.description-info__proprietaire__rate {
  justify-content: flex-end;
  
}

.description-info__proprietaire__rate .etoile {
  width: 30px;
  height: 30px;
  @media screen and (max-width: 992px) {
    width: 20px;
    height: 20px;
  }
  @media screen and (max-width: 992px) {
    width: 15px;
    height: 15px;
  }

}

.rate-contenair {
  @media screen and (max-width: 769px) {
    display: flex;
    align-items: baseline;
    flex-direction: row;
  }
}