.Fiche-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 90%;
  margin: 20px 20px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  color: #ff6060;
}

.Fiche-logement {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}
.description-info__proprietaire {
  display: flex;
  align-items: self-end;
  font-size: 18px;
  font-weight: 500;
}
.description-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.description-info__titletags {
  display: flex;
  flex-direction: column;
}

.description-info__titletags__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.description-info__titletags__title .titre-logement {
  font-size: 14px;
  font-weight: 500;
}

.description-info__titletags__title .endroit-logement {
  font-size: 14px;
  font-weight: 500;
}

.description-info__titletags__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
}


.description-centent {
  align-items: baseline;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.title-collapse {
  font-size: 18px;
}

@media screen and (min-width: 769px) {
  .description-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .description-info__titletags {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .description-info__titletags__title {
    display: flex;
    flex-direction: column;
  }

  .description-info__titletags__title .titre-logement {
    font-size: 36px;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
  }

  .description-info__titletags__title .endroit-logement {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
  }
}

.description-info__proprietaire {
  display: flex;

  flex-direction: row-reverse;
}

@media screen and (min-width: 769px) {
  .description-info__proprietaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.description-info__proprietaire__nom-prop {
  display: flex;
  align-items: center;
}

.description-info__proprietaire__nom-prop .nom-proprietaire {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  text-align: right;
  width: 93px;
}

.description-info__proprietaire__nom-prop .photo-proprietaire {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.description-info__proprietaire__rate {
  justify-content: flex-end;
  margin-top: 20px;
}

.description-info__proprietaire__rate .etoile {
  width: 15px;
  height: 15px;
}
.description-centent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 769px) {
  .description-info__proprietaire__rate .etoile {
    width: 30px;
    height: 30px;
  }
}

.description-centent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 769px) {
  .description-centent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .description-centent__description {
    width: 50%;
    padding-right: 40px;
  }

  .description-centent__equipement {
    width: 50%;
    padding-left: 40px;
  }
}
