.cards {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 25px;
  position: relative;
}
.gradients:hover {
  opacity: 50%;
}

.gradients {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.65) 100%
  );
  border-radius: 10px;
}

.card-image {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-titre {
  color: #ffffff;
  position: absolute;
  left: 15px;
  right: 5px;
  bottom: 10px;
  display: flex;
  text-align: left;
  font-size: 18px;
}
