.Bannieraccueil{
    /* _Body */

position: absolute;
width: 1240px;
height: 1095px;
left: 100px;
top: 171px;



/* Gallery */

position: absolute;
width: 1240px;
height: 829px;
left: 100px;
top: 437px;



/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #F7F7F7;
border-radius: 25px;


/* .Thumb */

position: absolute;
left: 4.03%;
right: 68.55%;
top: 53.8%;
bottom: 5.19%;



/* Img */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FF6060;
border-radius: 10px;


/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
border-radius: 10px;


/* Titre de la location */

position: absolute;
left: 5.88%;
right: 5.88%;
top: 78.82%;
bottom: 5.88%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* or 26px */
display: flex;
align-items: flex-end;

color: #FFFFFF;



/* .Thumb */

position: absolute;
left: 36.29%;
right: 36.29%;
top: 6.76%;
bottom: 52.23%;



/* Img */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FF6060;
border-radius: 10px;


/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
border-radius: 10px;


/* Titre de la location */

position: absolute;
left: 5.88%;
right: 5.88%;
top: 78.82%;
bottom: 5.88%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* or 26px */
display: flex;
align-items: flex-end;

color: #FFFFFF;



/* .Thumb */

position: absolute;
left: 4.03%;
right: 68.55%;
top: 6.76%;
bottom: 52.23%;



/* Img */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FF6060;
border-radius: 10px;


/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
border-radius: 10px;


/* Titre de la location */

position: absolute;
left: 5.88%;
right: 5.88%;
top: 78.82%;
bottom: 5.88%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* or 26px */
display: flex;
align-items: flex-end;

color: #FFFFFF;



/* .Thumb */

position: absolute;
left: 36.29%;
right: 36.29%;
top: 53.8%;
bottom: 5.19%;



/* Img */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FF6060;
border-radius: 10px;


/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
border-radius: 10px;


/* Titre de la location */

position: absolute;
left: 5.88%;
right: 5.88%;
top: 78.82%;
bottom: 5.88%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* or 26px */
display: flex;
align-items: flex-end;

color: #FFFFFF;



/* .Thumb */

position: absolute;
left: 68.55%;
right: 4.03%;
top: 6.76%;
bottom: 52.23%;



/* Img */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FF6060;
border-radius: 10px;


/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
border-radius: 10px;


/* Titre de la location */

position: absolute;
left: 5.88%;
right: 5.88%;
top: 78.82%;
bottom: 5.88%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* or 26px */
display: flex;
align-items: flex-end;

color: #FFFFFF;



/* .Thumb */

position: absolute;
left: 68.55%;
right: 4.03%;
top: 53.8%;
bottom: 5.19%;



/* Img */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FF6060;
border-radius: 10px;


/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
border-radius: 10px;


/* Titre de la location */

position: absolute;
left: 5.88%;
right: 5.88%;
top: 78.82%;
bottom: 5.88%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* or 26px */
display: flex;
align-items: flex-end;

color: #FFFFFF;



/* _Section 1 */

position: absolute;
width: 1240px;
height: 223px;
left: 100px;
top: 171px;



/* Mask Group */

position: absolute;
width: 1240px;
height: 223px;
left: 100px;
top: 171px;



/* Background */

position: absolute;
width: 1240px;
height: 223px;
left: 100px;
top: 171px;

background: #F7F7F7;
border-radius: 25px;


/* IMG */

position: absolute;
width: 1240px;
height: 1875px;
left: 100px;
top: -655px;

background: url(eric-muhr-P_XxsdVgtpQ-unsplash.jpg);


/* Background */

position: absolute;
width: 1240px;
height: 223px;
left: 100px;
top: 171px;

background: #000000;
mix-blend-mode: darken;
opacity: 0.3;
border-radius: 25px;


/* Chez vous, partout et ailleurs */

position: absolute;
left: 25.9%;
right: 25.14%;
top: 24.32%;
bottom: 69.04%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 142.6%;
/* or 68px */
display: flex;
align-items: flex-end;

color: #FFFFFF;


}